from app.models.models import {{ model_class }}
from sqlalchemy.orm import Session
from typing import List, Optional, Any
from app.daos.base.{{ model_lower }}_dao_base import {{ base_dao_class_name }}

class {{ dao_class_name }}({{ base_dao_class_name }}):
    """
    {{ model_class }} に関するカスタムDAO処理を書く場所

    - サンプルメソッドをここに追加できます。
    - 例:
        def custom_search(self, db_session: Session, keyword: str) -> List[{{ model_class }}]:
            return db_session.query({{ model_class }}).filter({{ model_class }}.name.like(f"%{keyword}%")).all()
    """
    pass  # 必要に応じてカスタムメソッドをここに追加してください
