from app.repositories.base.{{ repository_base_file_name }} import {{ repository_base_class_name }}

class {{ repository_class_name }}({{ repository_base_class_name }}):
    """
    {{ repository_base_class_name }} のカスタムメソッド追加用
    """
    pass
